@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url('../images/Tickets-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( #000, .6);
        content: '';
    }

    &__logo {
        display: block;
        margin: 50px auto;
        height: 80px;
    }

    &__text {
        font-weight: 800;
        font-size: 40px;
        text-align: center;
        line-height: 56px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    .button {
        position: absolute;
        top: 110%;
        left: 37%;       
    }

    @media (max-width: 1024px) {

        &__text {
            font-size: 36px;
            line-height: 56px;
        }
        .button {
            top: 110%;
            left: 0%;
            width: 100%;            
        }
    }
    @media (max-width: 640px) {

        padding: 24px 0;
        padding-bottom: 110px;

        &__logo {
            margin: 30px auto;
            height: 40px;
        }

        &__text {
            font-size: 25px;
            line-height: 40px;
        }

        .button {
            top: 120%;
            left: 0%;
            width: 100%;            
        }
    }

}

#contador {
    text-transform: none;
}