@use 'variables';
@use 'hero';
@use 'buttons';
@use 'tickets';

@font-face {
    font-family: Formula1;
    src: url(../../assets/Formula1-Regular_web_0.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/Formula1-Bold_web_0.ttf);
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    
}

body {
    background-color: #000;
}

.container {
    max-width: 1112px ;
    width: 100%;
    margin: 0 auto;

    @media (max-width:1024px)  {
        width: 90%;
        
    }
}